---
layout: default
title: Physics
permalink: /physics/
---

<div class="posts">
    <!-- Quantum Mechanics -->
    <div class="post-categories">
        <a href="{{site.baseurl}}/physics/quantum-mechanics" class="Quantum-Mechanics">
            <span class="post-category-icon">
                <img src="/assets/images/categories/'Quantum Mechanics.png'">
                <p>Electrodynamics</p>
            </span>
        </a>
    </div>
    {% for post in site.physics %}
        {% if post.categories contains 'Quantum Mechanics' %}
            <div class="post">
                <h1 class="post-title">
                    <a href="{{ post.url }}">
                        {{ post.title }}
                    </a>
                </h1>
                {% include date.html %}
            </div>
        {% endif %}
    {% endfor %}
    <!-- --->


    <!-- Electrodynamics -->
    <div class="post-categories">
        <a href="{{site.baseurl}}/physics/electrodynamics" class="Electrodynamics">
            <span class="post-category-icon">
                <img src="/assets/images/categories/Electrodynamics.png">
                <p>Electrodynamics</p>
            </span>
        </a>
    </div>
    {% for post in site.physics %}
        {% if post.categories contains 'Electrodynamics' %}
            <div class="post">
                <h1 class="post-title">
                    <a href="{{ post.url }}">
                        {{ post.title }}
                    </a>
                </h1>
                {% include date.html %}
            </div>
        {% endif %}
    {% endfor %}
    <!-- --->
</div>





