---
layout: default
title: Physics
permalink: /physics/
---

<div class="posts">
    <!-- Quantum Mechanics -->
    <div class="post-categories">
        <a href="{{site.baseurl}}/physics/quantum-mechanics" class="Quantum-Mechanics">
            <p class="post-category-icon">
                <img src="/assets/images/categories/Quantum-Mechanics.png">
            </p>
            <h3>Quantum Mechanics</h3>
        </a>
    </div>
    {% for post in site.physics %}
        {% if post.categories contains 'Quantum-Mechanics' %}
            <div class="post">
                <h3 class="post-title">
                    <a href="{{ post.url }}">
                        {{ post.title }}
                    </a>
                </h3>
                {% include date.html %}
            </div>
        {% endif %}
    {% endfor %}
    <!-- --->


    <!-- Electrodynamics -->
    <div class="post-categories">
        <a href="{{site.baseurl}}/physics/electrodynamics" class="Electrodynamics">
            <p class="post-category-icon">
                <img src="/assets/images/categories/Electrodynamics.png">
            </p>
            <h3>Electrodynamics</h3>
        </a>
    </div>
    {% for post in site.physics %}
        {% if post.categories contains 'Electrodynamics' %}
            <div class="post">
                <h3 class="post-title">
                    <a href="{{ post.url }}">
                        {{ post.title }}
                    </a>
                </h3>
                {% include date.html %}
            </div>
        {% endif %}
    {% endfor %}
    <!-- --->

    <!-- Relativity and Cosmology -->
    <div class="post-categories">
        <a href="{{site.baseurl}}/physics/relativity-and-cosmology" class="Relativity-and-Cosmology">
            <p class="post-category-icon">
                <img src="/assets/images/categories/Relativity-and-Cosmology.png">
            </p>
            <h3>Relativity and Cosmology</h3>
        </a>
    </div>
    {% for post in site.physics %}
        {% if post.categories contains 'Relativity-and-Cosmology' %}
            <div class="post">
                <h3 class="post-title">
                    <a href="{{ post.url }}">
                        {{ post.title }}
                    </a>
                </h3>
                {% include date.html %}
            </div>
        {% endif %}
    {% endfor %}
    <!-- --->




</div>





