<div class="credits">

<p>This site is <a href="https://github.com/DaHaCoder/gh-test-danialhagemann-de" target="_blank" rel="noopener noreferrer"> open-source <iconify-icon icon="ant-design:github-filled" style="color: #7f00ff;"></iconify-icon></a>.
<br>
Created in  <iconify-icon icon="bxl:tux" style="color:#fff777"></iconify-icon> & <iconify-icon icon="raphael:vim" style="color:#00ff7f"></iconify-icon> with <iconify-icon icon="ant-design:heart-filled" style="color:#ff007f"></iconify-icon>.
<br>
Credit goes to <a href="https://patrickhaussmann.de/" target="_blank" rel="noopener noreferrer">Patrick Haußmann</a>, <a href="https://nikolang.de" target="_blank" rel="noopener noreferrer">Niko Lang</a> and <a href="https://ejmastnak.com" target="_blank" rel="noopener noreferrer">Elijan J. Mastnak</a>.
</p>

</div>
