<nav class="topnav">
  <header>
  <ul style="white-space: nowrap;">
    <li><a href="{{ site.baseurl }}/index.html"><i class="fas fa-home"></i> Home </a></li>
    <li><a href="{{ site.baseurl }}/about/"><i class="fas fa-address-card"></i> About </a></li>
    <li><a href="{{ site.baseurl }}/notes/"><i class="fas fa-pen-fancy"></i> Notes </a></li>
    <!-- <li><a href="{{ site.baseurl }}/physics/"><i class="fas fa-atom"></i> Physics </a></li> -->
    <li><a href="{{ site.baseurl }}/physics/"><iconify-icon icon="game-icons:atom" style="vertical-align: -0.380em" width="1.4em" height="1.4em"></iconify-icon> Physics </a></li>
    <li><a href="{{ site.baseurl }}/coding/"><i class="fas fa-code"></i> Coding </a></li>
    <li><a href="{{ site.baseurl }}/profiles/"><i class="fas fa-user-circle"></i> Profiles </a></li>
    <li><a href="{{ site.baseurl }}/contact/"><i class="fas fa-envelope"></i> Contact </a></li>
 <div class="theme-switch-wrapper">
    <label class="theme-switch" for="checkbox">
        <input type="checkbox" id="checkbox" />
        <div class="slider round"></div>
        <i class="fas fa-moon"></i>
        <i class="fas fa-sun"></i>
    </label>
</div>
<script src='{{ site.baseurl }}/assets/js/themeswitch.js'></script>
  </ul>
  </header>
</nav>
