/* === COLORS === */
/* ============== */

:root {
    /* == colors in dark mode == */

    --body-text-color: #c0c0c0;
    --body-background-color: #080b16;
    --markdown-body-background-color: #19222a;
    --markdown-body-h1-border-bottom-color: #ff0000;
    --markdown-body-h2-border-bottom-color: #c0c0c0;
    --markdown-body-a-color: #6495ed;
    --markdown-body-a-background-color: transparent;
    --markdown-body-a-code-color: #ff0f0f;
    --markdown-body-a-code-background-color: #ff00ff;
    --markdown-body-details-background-color: #f0f0f0;
    --markdown-body-details-summary-background-color: #0f0f0f;
    --markdown-body-hr-background-color: #c0c0c0;
    --markdown-body-blockquote-color: #9bcfff;
    --markdown-body-blockquote-background-color: #192c3c;
    --markdown-body-blockquote-border-left-color: #9bcfff;
    --markdown-body-table-th-border-color: #c0c0c0;
    --markdown-body-table-tr-background-color: #24313c;
    --markdown-body-table-tr-border-top-color: #c0c0c0;
    --markdown-body-table-tr-nth-child-background-color: #192c3c;
    --markdown-body-img-background-color: #f2f2f2;
    --markdown-body-kbd-color: #444d56;
    --markdown-body-kbd-background-color: #fafbfc;
    --markdown-body-kbd-border-color: #d1d5da;
    --markdown-body-kbd-box-shadow-color: #d2d2db;
    --markdown-body-code-color: #00ff7f;
    --markdown-body-code-background-color: #24313c;
    --markdown-body-pre-background-color: #212d37;
    --markdown-body-pre-code-background-color: transparent;
    --markdown-body-pre-code-color: #fff0f0;
    --slider-background-color: transparent;
    --slider-background-hover-color: #6495ed;
    --slider-border-color: #c0c0c0;
    --slider-before-background-color: #13314b;
    --slider-checked-background-color: transparent;
    --fa-moon-color: #c0c0c0; 
    --fa-sun-color: #505050;
    --topnav-ul-background-color: #13314b;
    --topnav-ul-border-color: #13314b;
    --topnav-li-a-color: #c0c0c0;
    --topnav-li-a-hover-color: #13314b;
    --topnav-li-a-hover-background-color: #6495ed;
    --topnav-hr-border-bottom-color: #00ffff;
    --sidebar-color: rgba(255,255,255,.6);
    --sidebar-background-color: #202020;
    --sidebar-a-color: #ffffff;
    --a-sidebar-nav-item-background-color: rgba(255,255,255,.1);
    --a-sidebar-nav-item-border-color: #6495ed;
    --credits-color: #c0c0c0;
    --credits-a-color: #6495ed;
    --profiles-ul-li-a-color: #666;
    --profiles-ul-li-a-background-color: #212d37; 
    --profiles-ul-li-a-hover-box-shadow: #6495ed;
    --profiles-discord: #7289da;
    --profiles-github: #ffffff;
    --profiles-gitlab: #fc6d27; 
    --profiles-reddit: #ff5700;
    --profiles-stack-exchange: #46a2d9;
    --profiles-threema: #05a63f;
}

[data-theme="light"] {
    /* == colors in light mode */

    --body-text-color: #202020;
    --body-background-color: #969696;
    --markdown-body-background-color: #cccccc;
    --markdown-body-h1-border-bottom-color: #ff0000;
    --markdown-body-h2-border-bottom-color: #202020;
    --markdown-body-a-color: #6495ed;
    --markdown-body-a-background-color: transparent;
    --markdown-body-a-code-color: #ff0f0f;
    --markdown-body-a-code-background-color: #ff00ff;
    --markdown-body-details-background-color: #f0f0f0;
    --markdown-body-details-summary-background-color: #0f0f0f;
    --markdown-body-hr-background-color: #202020;
    --markdown-body-blockquote-color: #7a7a7a;
    --markdown-body-blockquote-background-color: #e3e3e3;
    --markdown-body-blockquote-border-left-color: #7a7a7a;
    --markdown-body-table-th-border-color: #202020;
    --markdown-body-table-tr-background-color: #e3e3e3;
    --markdown-body-table-tr-border-top-color: #202020;
    --markdown-body-table-tr-nth-child-background-color: #e5e5e5;
    --markdown-body-img-background-color: #f2f2f2;
    --markdown-body-kbd-color: #444d56;
    --markdown-body-kbd-background-color: #fafbfc;
    --markdown-body-kbd-border-color: #d1d5da;
    --markdown-body-kbd-box-shadow-color: #d2d2db;
    --markdown-body-code-color: #6e6ea5;
    --markdown-body-code-background-color: #e3e3e3;
    --markdown-body-pre-background-color: #f0f0f0;
    --markdown-body-pre-code-background-color: transparent;
    --markdown-body-pre-code-color: #fff0f0;
    --slider-background-color: transparent;
    --slider-background-hover-color: #6495ed;
    --slider-border-color: #c0c0c0;
    --slider-before-background-color: #13314b;
    --slider-checked-background-color: transparent;
    --fa-moon-color: #505050; 
    --fa-sun-color: #c0c0c0;
    --topnav-ul-background-color: #13314b;
    --topnav-ul-border-color: #13314b;
    --topnav-li-a-color: #c0c0c0;
    --topnav-li-a-hover-color: #13314b;
    --topnav-li-a-hover-background-color: #6495ed;
    --topnav-hr-border-bottom-color: #ff00ff;
    --sidebar-color: rgba(255,255,255,.6);
    --sidebar-background-color: #202020;
    --sidebar-a-color: #ffffff;
    --a-sidebar-nav-item-background-color: rgba(255,255,255,.1);
    --a-sidebar-nav-item-border-color: #6495ed;
    --credits-color: #202020;
    --credits-a-color: #13314b;
    --profiles-ul-li-a-color: #666;
    --profiles-ul-li-a-background-color: #c0c0c0; 
    --profiles-ul-li-a-hover-box-shadow: #6495ed;
    --profiles-discord: #7289da;
    --profiles-github: #ffffff;
    --profiles-gitlab: #fc6d27; 
    --profiles-reddit: #ff5700;
    --profiles-stack-exchange: #46a2d9;
    --profiles-threema: #05a63f;
}
