.post-date {
    font-size: 18px;
    font-style: italic;
}

.post-date-last-mod {
    font-size: 18px;
    font-style: italic;
    width: 100%;
    margin-top: -0.5em;
    margin-bottom: 0.5em;
    text-align: left;
}
