.post-date {
    font-size: 14px;
    font-style: italic;
    font-weight: 200;
    text-align: right;
}

.post-date-last-mod {
    font-size: 14px;
    font-style: italic;
    font-weight: 200;
    width: 100%;
    margin-top: -0.5em;
    margin-bottom: 0.5em;
    text-align: right;
}
