@import "colors";

.profiles ul {
    margin: 0;
    padding: 0;
    display: block;
}

.profiles ul li {
    list-style: none;
    display: inline-block;
}   

.profiles ul li a {
    display: inline-block;
    margin: 0px 20px 0 0;
    text-align: center;
    background: transparent;
    transition: .4s;
}


.profiles u li a span {
    display: block;
    font-size: 20px;
    text-align: center;
}

.profiles ul li a icon {
    display: block;
    width: 100px;
    height: 100px;
    margin: 5px 5px 5px 5px;
    text-align: center;
    border-radius: 50%;
    font-size: 60px;
    background: var(--profiles-ul-li-a-background-color);
    transition: .4s;
}


// Discord
// =======
.profiles ul li a.discord:hover span {
 color: var(--profiles-discord);
}

.profiles ul li a.discord:hover icon {
 box-shadow: 0 0 20px var(--profiles-discord);
}
// =======

/*
// Element Matrix
// ==============
.profiles ul li a.element:hover span {
 color: var(--profiles-element);
}

.profiles ul li a.element:hover icon {
 box-shadow: 0 0 20px var(--profiles-element);
}
// ==============
*/

// GitHub 
// ======
.profiles ul li a.github:hover span {
 color: var(--profiles-github);
}

.profiles ul li a.github:hover icon {
 box-shadow: 0 0 20px var(--profiles-github);
}
// ======

// GitLab
// ======
.profiles ul li a.gitlab:hover span {
 color: var(--profiles-gitlab);
}

.profiles ul li a.gitlab:hover icon {
 box-shadow: 0 0 20px var(--profiles-gitlab);
}
// ======

/*
// Keybase
// =======
.profiles ul li a.keybase:hover span {
 color: var(--profiles-keybase);
}

.profiles ul li a.keybase:hover icon {
 box-shadow: 0 0 20px var(--profiles-keybase);
}
// =======
*/

/*
// Mastodon
// ========
.profiles ul li a.mastodon:hover span {
 color: var(--profiles-mastodon);
}

.profiles ul li a.mastodon:hover icon {
 box-shadow: 0 0 20px var(--profiles-mastodon);
}
// ========
*/

// Reddit
// ======
.profiles ul li a.reddit:hover span {
 color: var(--profiles-reddit);
}

.profiles ul li a.reddit:hover icon {
 box-shadow: 0 0 20px var(--profiles-reddit);
}
// ======

// Stack Exchange
// ==============
.profiles ul li a.stack-exchange:hover span {
 color: var(--profiles-stack-exchange);
}

.profiles ul li a.stack-exchange:hover icon {
 box-shadow: 0 0 20px var(--profiles-stack-exchange);
}
// ==============

// Threema
// =======
.profiles ul li a.threema:hover span {
 color: var(--profiles-threema);
}

.profiles ul li a.threema:hover icon {
 box-shadow: 0 0 20px var(--profiles-threema);
}
// =======
