@import "colors";

.profiles ul {
    margin: 0;
    padding: 0;
    display: block;
}

.profiles ul li {
    list-style: none;
    display: inline-block;
}   

.profiles ul li a {
    display: inline-block;
    margin: 0px 20px 0 0;
    text-align: center;
    background: transparent;
    transition: .4s;
}


.profiles u li a span {
    display: block;
    font-size: 20px;
    text-align: center;
}

.profiles ul li a icon {
    display: block;
    width: 100px;
    height: 100px;
    margin: 5px 5px 5px 5px;
    text-align: center;
    border-radius: 50%;
    font-size: 60px;
    background: var(--profiles-ul-li-a-background-color);
    transition: .4s;
}


/*.profiles ul li a:hover {
 box-shadow:0 0 20px var(--profiles)
}
*/

.profiles ul li a.discord:hover {
 box-shadow:0 0 20px var(--profiles-discord)
}

.profiles ul li a.github:hover {
 color: var(--profiles-github);
 box-shadow:0 0 20px var(--profiles-github)
}

.profiles ul li a.gitlab:hover {
 color: var(--profiles-gitlab); 
 box-shadow:0 0 20px var(--profiles-gitlab)
}

.profiles ul li a.reddit:hover {
 box-shadow:0 0 20px var(--profiles-reddit)
}

.profiles ul li a.stack-exchange:hover {
 box-shadow:0 0 20px var(--profiles-stack-exchange)
}

.profiles ul li a.threema:hover{
 color: var(--profiles-threema);
 box-shadow: 0 0 20px var(--profiles-threema)  
}
