---
layout: default
---

<div class="post-categories">
  {% if post %}
    {% assign categories = post.categories %}
  {% else %}
    {% assign categories = page.categories %}
  {% endif %}
  {% for category in categories %}
    <a href="{{site.baseurl}}/{{category|replace: ' ','-'|downcase}}" class="{{category|replace: ' ', '-'}}">
      <span class="post-category-icon">
       <img src="/assets/images/categories/{{category}}.png">
       <p>{{category|replace: '-', ' '}}</p>
      </span>
    </a>
  {% unless forloop.last %}&nbsp;{% endunless %}
  {% endfor %}
</div>

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  {{ content }}
</div>
